{% extends "blog/wrapper.html" %} {% block content %}
<div class="container my-lg-4 paddin">
  <div class="row">
    <div >
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Payment Details</h3>
          <div class="checkbox pull-right">
            <div class="alert alert-success" role="alert">
              <h4 class="alert-heading">
                The fairy tale has almost become a reality!
              </h4>
              {% if request.user.is_authenticated %}
            <span>Dear {{ request.user.get_username }}, you have selected an amazing plant!</span>
            {% else %}
            <span>You have selected an amazing plant!</span>
            {% endif %}
              
            </div>
            <div class="checkbox pull-right">
              <label>
                <input type="checkbox" />
                Remember
              </label>
            </div>
          </div>
          <div class="panel-body">
            <form role="form" class="col-xs-12 col-md-4">
              <div class="form-group">
                <label for="cardNumber"> CARD NUMBER</label>
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    id="cardNumber"
                    placeholder="Valid Card Number"
                    required
                    autofocus
                  />
                  <span class="input-group-addon"
                    ><span class="glyphicon glyphicon-lock"></span
                  ></span>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-7 col-md-7">
                  <div class="form-group">
                    <label for="expityMonth"> EXPIRY DATE</label>
                    <div class="col-xs-6 col-lg-6 pl-ziro">
                      <input
                        type="text"
                        class="form-control"
                        id="expityMonth"
                        placeholder="MM"
                        required
                      />
                    </div>
                    <div class="col-xs-6 col-lg-6 pl-ziro">
                      <input
                        type="text"
                        class="form-control"
                        id="expityYear"
                        placeholder="YY"
                        required
                      />
                    </div>
                  </div>
                </div>
                <div class="col-xs-5 col-md-5 pull-right">
                  <div class="form-group">
                    <label for="cvCode"> CV CODE</label>
                    <input
                      type="password"
                      class="form-control"
                      id="cvCode"
                      placeholder="CV"
                      required
                    />
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        
        <br />
        <a href="#" class="btn btn-success btn-lg btn-block" role="button"
          >Pay</a
        >
      </div>
    </div>
  </div>
  {% endblock %}
</div>
